<!DOCTYPE html>
<html lang=en xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<h1 th:utext="${message}">Hello Spring Boot</h1>

	<h4 th:if="${list}">Liste des noms</h4>
	<h4 th:unless="${list}">Liste des Employees</h4>
	<ul th:if="${list}">
		<th:block th:each="nom:${list}">
			<li th:utext="${nom}"></li>
		</th:block>
	</ul>

	<a th:href="@{/list}">Liste d'employes</a>
	<table th:if="${listEmployee}">
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr th:each="emp:${listEmployee}">
			<td th:utext="${emp.empId}"></td>
			<td th:utext="${emp.firstName}"></td>
			<td th:utext="${emp.lastName}"></td>
		</tr>
	</table>

	<a th:href="@{/listCustomer}">Liste Customer</a>
	<table th:if="${listCustomer}">
		<tr>
			<th>ID</th>
			<th>City</th>
			<th>Adress</th>
			<th>State</th>
			<th>Fed</th>
		</tr>
		<tr th:each="cust:${listCustomer}">
			<td th:utext="${cust.custId}"></td>
			<td th:utext="${cust.city}"></td>
			<td th:utext="${cust.address}"></td>
			<td th:utext="${cust.state}"></td>
			<td th:utext="${cust.fedId}"></td>
		</tr>
	</table>

<br>
<br>

	<form action="listByState" method="post">
		<input type="text" name="state"> 
		<input type="submit" value="Liste Customer by State">
	</form>
	
		<table th:if="${listByState}">
		<tr>
			<th>ID</th>
			<th>City</th>
			<th>Address</th>
			<th>State</th>
			<th>Fed</th>
		</tr>
		<tr th:each="cust:${listByState}">
			<td th:utext="${cust.custId}"></td>
			<td th:utext="${cust.city}"></td>
			<td th:utext="${cust.address}"></td>
			<td th:utext="${cust.state}"></td>
			<td th:utext="${cust.fedId}"></td>
		</tr>
	</table>
	
	<br>
	
		<form action="listByAddress" method="post">
		<input type="text" name="address"> 
		<input type="submit" value="Liste Customer by address">
	</form>

	
		<table th:if="${listByAddress}">
		<tr>
			<th>ID</th>
			<th>City</th>
			<th>Address</th>
			<th>State</th>
			<th>Fed</th>
		</tr>
		<tr th:each="cust:${listByAddress}">
			<td th:utext="${cust.custId}"></td>
			<td th:utext="${cust.city}"></td>
			<td th:utext="${cust.address}"></td>
			<td th:utext="${cust.state}"></td>
			<td th:utext="${cust.fedId}"></td>
		</tr>
	</table>
	
	<br>
	
		<form action="listByFedId" method="post">
		<input type="text" name="fedId"> 
		<input type="submit" value="Liste Customer by FedId">
	</form>
	
		<table th:if="${listByFedId}">
		<tr>
			<th>ID</th>
			<th>City</th>
			<th>Address</th>
			<th>State</th>
			<th>Fed</th>
		</tr>
		<tr th:each="cust:${listByFedId}">
			<td th:utext="${cust.custId}"></td>
			<td th:utext="${cust.city}"></td>
			<td th:utext="${cust.address}"></td>
			<td th:utext="${cust.state}"></td>
			<td th:utext="${cust.fedId}"></td>
		</tr>
	</table>
	
</body>
</html>